body
{
    color: rgb(117, 34, 4);
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;    
}
#cabecera
{
    background-color: rgb(9, 9, 10);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: rgb(95, 173, 23);
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
    background-color: chartreuse;
    
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-style: 0.8em;
}
#container h1
{
    font-size: 30px;
}