body
{
    background-color:white ;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;    
}
#cabecera
{
    background-color:#FF5733;
    box-shadow: 0px 2px 20px 0px;
    color: rgb(219, 60, 134);
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}
#cabecera #logo
{
    width: 50px;
    vertical-align: middle;
    background-color: rgb(140, 0, 255);
    
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-style: 0.8em;
}
#container h1
{
    color: #ed8975;
    font-size: 30px;
}
 #container p {
     color: #304D63;
 }
 .lion {
   vertical-align: left;
 }
