body
{
    color: darkorchid;
    text-align: center;
    font-family: Arial;
    background-color: darksalmon;
    
}
head
{
    font-family: Helvetica;
    text-align: left;
    text-decoration-color: darkslategrey;
}